.collection-container {
  padding: 20px;
  font-family: var(--font-family);
  color: var(--primary-color);
}

.collection-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.collection-header img {
  width: 300px;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: var(--box-shadow);
}

.collection-info {
  max-width: 600px;
}

.collection-movies {
  margin-top: 20px;
}

.collection-movies ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collection-movies li {
  display: flex;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.collection-movies img {
  width: 100px;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: var(--box-shadow);
}

.collection-movies div {
  max-width: 600px;
}

.collection-movies h3 {
  margin: 0;
  font-size: 1.5em;
}

.collection-movies p {
  margin: 5px 0;
  color: var(--primary-color);
}
