@import url("./base.css");
@import url("./NavBar.css");
@import url("./singleMovie.css");
@import url("./hero.css");
@import url("./SideBar.css");
@import url("./LogIn.css");
@import url("./footer.css");
@import url("./SingleTvShow.css");
@import url("./collections.css");
@import url("./LandingPage.css");
@import url("./TvPage.css");
@import url("./MoviePage.css");
@import url("./MainHero.css");
@import url("./MovieHero.css");
@import url("./TVHero.css");