:root {
  --primary-color: #363636;
  --secondary-color: #ffffff;
  --accent-color: #e74c3c;
  --font-family: "Roboto", sans-serif;
  --transition-speed: 0.3s;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--secondary-color);
}

#landing-page-content {
  padding-top: 50px; 
  margin-top: -50px; 
}


.landing-header {
  background-color: var(--primary-color);
  color: var (--secondary-color);
  padding: 1em;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.main-content {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin-bottom: 3em;
}

h2 {
  margin-bottom: 1em;
  font-size: 2em;
  color: var(--primary-color);
  text-align: center;
}

.movie-list,
.tv-list {
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-item,
.tv-item {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-speed),
    box-shadow var(--transition-speed);
  cursor: pointer;
  text-align: center;
  max-width: 200px;
}

.movie-item:hover,
.tv-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.poster-title {
  margin-top: 0.5em;
  font-size: 1em;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .nav-bar ul {
    flex-direction: column;
    gap: 0.5em;
  }

  .movie-list,
  .tv-list {
    flex-direction: column;
    align-items: center;
  }

  .poster {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.5em;
  }

  .poster {
    width: 100%;
  }
}
