.tvshows-list-container {
  padding: 20px;
  font-family: var(--font-family);
  color: var(--primary-color);
  max-width: 1200px;
  margin: 0 auto;
}

.tvshows-list-header {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: var(--accent-color);
}

.tvshows-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.tvshow-item {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-speed),
    box-shadow var(--transition-speed);
  cursor: pointer;
}

.tvshow-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tvshow-item img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.tvshow-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tvshow-item p {
  font-size: 1rem;
  margin: 5px 0;
}

.tvshow-item .rating {
  font-weight: bold;
  color: var(--accent-color);
}
