.tvshow-search-container {
    padding: 20px;
    font-family: var(--font-family);
    color: var(--primary-color);
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }
  
  .tvshow-search-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--accent-color);
  }
  
  .tvshow-search-form {
    display: flex;
    flex-direction: column;
  }
  
  .tvshow-search-form div {
    margin-bottom: 15px;
  }
  
  .tvshow-search-form label {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .tvshow-search-form input,
  .tvshow-search-form select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .tvshow-search-form button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-speed);
  }
  
  .tvshow-search-form button:hover {
    background-color: darken(var(--accent-color), 10%);
  }
  

  .tvshow-list-container {
    padding: 20px;
    font-family: var(--font-family);
    color: var(--primary-color);
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .tvshow-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .tvshow-item {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: transform var(--transition-speed),
      box-shadow var(--transition-speed);
    cursor: pointer;
  }
  
  .tvshow-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .tvshow-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .tvshow-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .tvshow-item p {
    font-size: 1rem;
    margin: 5px 0;
  }
  